@import '@fontsource/ibm-plex-mono';

body {
  margin: 0;
  font-family: 'IBM Plex Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ac8ccc;
}

code {
  font-family: 'IBM Plex Mono';
}

/* Daisy Bush
#511F96

Shakespeare
#44CACB

Wisteria
#8660B6

East Side
#AC8CCC */
